In [ ]:
# Deklarasi array menggunakan list

angka = [10,20,30,40,50]
print('Array dengan list:', angka)

Array dengan list: [10, 20, 30, 40, 50]

In [ ]:
import array
angka = array.array('i', [10,20,30,40,50])
print('Array dengan modul array:', angka)

Array dengan modul array: array('i', [10, 20, 30, 40, 50])

In [ ]:
import numpy as np
angka = np.array([10,20,30,40,50])
print('Array dengan numpy:', angka)

Array dengan numpy: [10 20 30 40 50]

In [ ]:
import numpy as np
angka = np.array([1,2,3,4,5])
print('Array satu dimensi:', angka)

Array satu dimensi: [1 2 3 4 5]

In [ ]:
matriks = np.array ([(1, 2), (3,4), (5,6)])
print('Array dua dimensi:', matriks)

Array dua dimensi: [[1 2]
 [3 4]
 [5 6]]

In [ ]:
array3D = np.array([(1, 2), (3, 4), (5, 6), (7, 8)])
print('Array tiga dimensi:', array3D)

Array tiga dimensi: [[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [ ]:
# Deklarasi array kosong
angka = []

#Inisialisasi array dengan eolemen
angka = [10, 20, 30, 40, 50]

#Akses elemen
print('Elemen pertama:', angka[0])
print('Elemen terakhir:', angka[-1])

# Menambahkan elemen baru
angka.append(60)
print('Setelah append:', angka)

#Menghapus elemen
angka.remove(30)
print('Setelah remove:', angka)

#Iterasi array
for nilai in angka:
  print('Nilai:', nilai)

Elemen pertama: 10
Elemen terakhir: 50
Setelah append: [10, 20, 30, 40, 50, 60]
Setelah remove: [10, 20, 40, 50, 60]
Nilai: 10
Nilai: 20
Nilai: 40
Nilai: 50
Nilai: 60

In [ ]:
#Akses Elemen
print('Elemen pertama:', angka[0])

#Penambahan elemen
angka = np.append(angka, 60)
print('Setelah penambahan:', angka)

#Penghapusan elemen
angka = np.delete(angka, 2) #menghapus elemen pada indeks ke-2
print('Setelah penghapusan:', angka)

#Perubahan elemen
angka = np.delete(angka, 2) #menghapus elemen pada indeks ke-2
print('Setelah penghapusan:', angka)

#Penghitung panjang array
print('Jumlah elemen:', len(angka))

Elemen pertama: 10
Setelah penambahan: [10 20 40 50 60 60]
Setelah penghapusan: [10 20 50 60 60]
Setelah penghapusan: [10 20 60 60]
Jumlah elemen: 4

In [ ]:
#Deklarasi array kosong
data = []

#Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

#Menampilkan isi array
print('Isi array angka:', angka)

Isi array angka: [10, 20, 30, 40, 50]

In [ ]:
# Latihan 1

NPM = [22410506010, 2410506011, 2410506012, 2410506013, 2410506014]
print('Array NPM: ', NPM)

Array NPM:  [22410506010, 2410506011, 2410506012, 2410506013, 2410506014]

In [ ]:
# Mengakses elemen array
print('Elemen pertama:', angka[0]) # Elemen pertama
print('Elemen Terakhir:', angka[-1]) # Elemen Terakhir

Elemen pertama: 10
Elemen Terakhir: 50

In [ ]:
# Menambah elemen array
angka.append(60)
print('Array setelah penambahan elemen:', angka)

# Menambah elemen menggunakan insert()
angka.insert(2, 25) # Menyisipkan 25 di indeks ke-2
print('Array setelah penambahan elemen dengan insert:', angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]
Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
#Menghapus elemen array

#Menghapus elemen menggunakan remove()
angka.remove(25) #Menghapus nilai 25
print('Array setelah menghapus elemen 25:', angka)

#Menghapus elemen menggunakan pop()
angka.pop(2) #Menghapus elemen pada indeks ke-2
print('Array setelah menghapus elemen pada indeks 2:', angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]
Array setelah menghapus elemen pada indeks 2: [10, 20, 40, 50, 60]

In [ ]:
#Mengubah elemen pada indeks 0
angka[0] = 100
print('Array setelah mengubah elemen pertama:',angka)

Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]

In [ ]:
# Latihan 2

angka.append(14)
angka.pop(0)
print('Array setelah menambah dan menghapus elemen: ', angka)

Array setelah menambah dan menghapus elemen:  [20, 40, 50, 60, 14]

In [ ]:
# Iterasi dengan pengulangan
angka = [10, 20, 30, 40]

for nilai in angka:
  print('Nilai:', nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

In [ ]:
# Latihan 3

F = ['Teknik', 'Ekonomi', 'Pertanian', 'Pendidikan', 'Ilmu Sosial dan Politik']

for fakultas in F:
  print('Fakultas', fakultas)

Fakultas Teknik
Fakultas Ekonomi
Fakultas Pertanian
Fakultas Pendidikan
Fakultas Ilmu Sosial dan Politik

In [ ]:
# Operasi matematika sederhana

angka = [10, 20, 30, 40]

print('Jumlah total:', sum(angka))
print('Nilai maksimum:', max(angka))
print('Nilai minimum:', min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10

In [ ]:
# Latihan 4

harga = [7000, 17000, 21000, 28000,]

print('Jumlah Total: ', sum(harga))

Jumlah Total:  73000

In [ ]:
# Deklarasi dan inisialisasi Array 2D

# Deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Menampilkan isi array 2D
print('Isi array 2D:')
for baris in matriks:
  print(baris)

Isi array 2D:
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# Latihan 5

matriks = [
    [2, 6, 8, 10],
    [12, 14, 16, 18],
    [20, 22, 24, 26]
]

print('Isi array:')
for baris in matriks:
  print(baris)

Isi array:
[2, 6, 8, 10]
[12, 14, 16, 18]
[20, 22, 24, 26]

In [ ]:
# Mengakses elemen array 2D

# Mengakses elemen pada baris ke-1 kolom ke-2 (indeks [0][1])
print('Elemen pada baris 1, kolom 2:', matriks[0][1])

# Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print('Elemen terakhir:', matriks[-1][-1])

Elemen pada baris 1, kolom 2: 6
Elemen terakhir: 26

In [ ]:
# Latihan 6

# Mengakses elemen pada baris ke-2 kolom ke-4 (indeks[1][3])
print('Elemen pada baris 2, kolom 4:', matriks[1][3])

Elemen pada baris 2, kolom 4: 18

In [ ]:
# Menambah baris baru
matriks.append([10, 11, 12])
print("Array setelah menambah baris baru:")
for baris in matriks:
    print(baris)

# Menambah elemen pada baris ke-2 (indeks 1)
matriks[1].append(99)
print("\nArray setelah menambahkan elemen di baris ke-2:")
for baris in matriks:
    print(baris)

Array setelah menambah baris baru:
[2, 6, 8, 10]
[12, 14, 16, 18]
[20, 22, 24, 26]
[10, 11, 12]

Array setelah menambahkan elemen di baris ke-2:
[2, 6, 8, 10]
[12, 14, 16, 18, 99]
[20, 22, 24, 26]
[10, 11, 12]

In [ ]:
# Latihan 7

matriks.append([17, 8, 20, 6])
print('Array setelah menambahkan baris baru:')
for baris in matriks:
  print(baris)

Array setelah menambahkan baris baru:
[2, 6, 8, 10]
[12, 14, 16, 18, 99]
[20, 22, 24, 26]
[10, 11, 12]
[17, 8, 20, 6]

In [ ]:
# Menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print('Array setelah menghapus elemen 2 dari baris pertama:')
for baris in matriks:
  print(baris)

#Menghapus elemen pada indeks tertentu dari baris ke-2
matriks[1].pop(1)
print('\nArray setelah menghapus elemen indeks ke-1 dari baris ke-2:')
for baris in matriks:
  print(baris)

Array setelah menghapus elemen 2 dari baris pertama:
[6, 8, 10]
[12, 14, 16, 18, 99]
[20, 22, 24, 26]
[10, 11, 12]
[17, 8, 20, 6]

Array setelah menghapus elemen indeks ke-1 dari baris ke-2:
[6, 8, 10]
[12, 16, 18, 99]
[20, 22, 24, 26]
[10, 11, 12]
[17, 8, 20, 6]

In [ ]:
# Latihan 8

matriks[-1].pop(2)
print('Array setelah menghapus elemen ke-3 dari baris terakhir:')
for baris in matriks:
  print(baris)

Array setelah menghapus elemen ke-3 dari baris terakhir:
[6, 8, 10]
[12, 16, 18, 99]
[20, 22, 24, 26]
[10, 11, 12]
[17, 8, 6]

In [ ]:
# Mengubah elemen pada baris ke-3, kolom ke-2

matriks[2][1] = 88
print('Array setelah mengubah elemen pada baris ke-3, kolom ke-2:')
for baris in matriks:
  print(baris)

Array setelah mengubah elemen pada baris ke-3, kolom ke-2:
[6, 8, 10]
[12, 16, 18, 99]
[20, 88, 24, 26]
[10, 11, 12]
[17, 8, 6]

In [ ]:
# Latihan 9

matriks[-1][-1] = 14
print('Array setelah mengubah elemen pada baris terakhir kolom terakhir:')
for baris in matriks:
  print(baris)

Array setelah mengubah elemen pada baris terakhir kolom terakhir:
[6, 8, 10]
[12, 16, 18, 99]
[20, 88, 24, 26]
[10, 11, 12]
[17, 8, 14]

In [ ]:
# Menyimpan daftar belanja

belanja = ['Beras', 'Gula', 'Minyak']
belanja.append('Teh')
belanja.remove('Gula')
print('Daftar belanja terbaru:')
for item in belanja:
  print('-', item)

Daftar belanja terbaru:
- Beras
- Gula
- Minyak

In [ ]:
# Latihan 10

belanja = ['Minyak Goreng', 'Sereal', 'Tissue', 'Cheetos', 'Sabun Mandi', 'Pasta Gigi']
belanja.append('Susu')
belanja.append('Biscuit')
belanja.remove('Cheetos')
print('Daftar belanja hari ini:')
for item in belanja:
  print('-', item)

Daftar belanja hari ini:
- Minyak Goreng
- Sereal
- Tissue
- Sabun Mandi
- Pasta Gigi
- Susu
- Biscuit