<a href="https://colab.research.google.com/github/sitaarn/Struktur-Data/blob/main/Tugas6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Tugas

class Pelanggan:
    def __init__(self, nama, umur, total_belanja):
        self.nama = nama
        self.umur = umur
        self.total_belanja = total_belanja

    def __repr__(self):
        return f"Pelanggan(nama='{self.nama}', umur={self.umur}, total_belanja={self.total_belanja})"

def quick_sort(arr, key):
    if len(arr) <= 1:
        return arr

    pivot = arr[len(arr) // 2]

    left = [x for x in arr if getattr(x, key) < getattr(pivot, key)]
    middle = [x for x in arr if getattr(x, key) == getattr(pivot, key)]
    right = [x for x in arr if getattr(x, key) > getattr(pivot, key)]

    return quick_sort(left, key) + middle + quick_sort(right, key)

def print_data(data, sort_by):
    print(f"| {'Nama':<17} | {'Umur':<5} | {'Total Belanja':<15}|")
    print("-" * 45)

    for pelanggan in data:
        print(f"| {pelanggan.nama:<17} | {pelanggan.umur:<5} | {pelanggan.total_belanja:<15}|")

# Contoh penggunaan
data = [
    Pelanggan("Andika", 25, 160000),
    Pelanggan("Bintang", 30, 50000),
    Pelanggan("Chika", 22, 150000),
    Pelanggan("Dinni", 28, 200000),
    Pelanggan("Fariz", 35, 120000),
    Pelanggan("Galih", 21, 180000),
    Pelanggan("Hana", 19, 240000),
    Pelanggan("Irfan", 32, 290000),
    Pelanggan("Jessie", 29, 90000),
    Pelanggan("Kelvin", 37, 360000)
]

# Mengurutkan berdasarkan nama
sorted_by_nama = quick_sort(data.copy(), "nama")
print("Data setelah sorting berdasarkan Nama:")
print_data(sorted_by_nama, "nama")

# Mengurutkan berdasarkan umur
sorted_by_umur = quick_sort(data.copy(), "umur")
print("\nData setelah sorting berdasarkan Umur:")
print_data(sorted_by_umur, "umur")

# Mengurutkan berdasarkan total belanja
sorted_by_belanja = quick_sort(data.copy(), "total_belanja")
print("\nData setelah sorting berdasarkan Total Belanja:")
print_data(sorted_by_belanja, "total_belanja")

Data setelah sorting berdasarkan Nama:
| Nama              | Umur  | Total Belanja  |
---------------------------------------------
| Andika            | 25    | 160000         |
| Bintang           | 30    | 50000          |
| Chika             | 22    | 150000         |
| Dinni             | 28    | 200000         |
| Fariz             | 35    | 120000         |
| Galih             | 21    | 180000         |
| Hana              | 19    | 240000         |
| Irfan             | 32    | 290000         |
| Jessie            | 29    | 90000          |
| Kelvin            | 37    | 360000         |

Data setelah sorting berdasarkan Umur:
| Nama              | Umur  | Total Belanja  |
---------------------------------------------
| Hana              | 19    | 240000         |
| Galih             | 21    | 180000         |
| Chika             | 22    | 150000         |
| Andika            | 25    | 160000         |
| Dinni             | 28    | 200000         |
| Jessie            | 29    | 90000          |
| Bintang           | 30    | 50000          |
| Irfan             | 32    | 290000         |
| Fariz             | 35    | 120000         |
| Kelvin            | 37    | 360000         |

Data setelah sorting berdasarkan Total Belanja:
| Nama              | Umur  | Total Belanja  |
---------------------------------------------
| Bintang           | 30    | 50000          |
| Jessie            | 29    | 90000          |
| Fariz             | 35    | 120000         |
| Chika             | 22    | 150000         |
| Andika            | 25    | 160000         |
| Galih             | 21    | 180000         |
| Dinni             | 28    | 200000         |
| Hana              | 19    | 240000         |
| Irfan             | 32    | 290000         |
| Kelvin            | 37    | 360000         |